/* Activa el desplazamiento suave para todo el sitio web al hacer clic en los enlaces del menú */
html {
  scroll-behavior: smooth;
}


img {
  max-width: 100%;
  height: auto;
}


body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
}